<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let medicationPlan of medPlans">Medication Plan Duration: {{medicationPlan.treatmentPeriod}}
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let medication of medicationPlan.receivedMedications">Medication: {{medication.name}} - Dosage/day: {{medication.intakePerDay}} - Side Effects: {{medication.sideEffects}}
          <button type="button" class="btn btn-primary" (click)="setTaken(medication.id)">Set Taken</button>
        </li>

      </ul>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
